<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin - Creator Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/admin_template.css">
  <link rel="stylesheet" href="/css/admin_creator_list.css">

  <style>#responseMessage {
    border-radius: 5px;
    font-weight: bold;
}</style>

<!-- SweetAlert2 CDN -->
<!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
<link rel="stylesheet" href="/css/sweetalert2.min.css">
<script src="/js/sweetalert2.all.min.js"></script>

  
</head>
<body>
  <div th:replace="~{admin/admin_template :: navbar}"></div>

  <div class="wrapper">
    <div th:replace="~{admin/admin_template :: sidebar}"></div>
    <main class="content" id="content">


    
      <div class="dashboard-container">
        <div class="dashboard-header">
          <h2 class="dashboard-title">Contact Us Dashboard</h2>
          <button class="add-btn" id="add-btn" onclick="openModal()">+ Add Contact</button>
        </div>
        <div id="responseMessage" class="response-message"></div>
        <div class="table-wrapper" th:if="${#lists.size(contacts)>0}">
          <table>
            <thead>
              <tr>
                <th>Sl No</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Phone no</th>
                <th>Mobile no</th>
                <th>Table no</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody id="creatorTable">
              <tr th:each="contact, iterStat: ${contacts}">
                <td th:text="${iterStat.index + 1}">1</td>
                <td th:text="(${contact.name})">John Doe</td>
                <td th:text="(${contact.designation})">Director</td>
                <td th:text="${contact.stdCode} + '-' + ${contact.phno}">8638462513</td>
                <td th:text="${contact.mobile}">8638462513</td>
                <td th:text="(${contact.contactTable})">A</td>
                <td>
                  <div class="dropdown">
                    <button class="dropdown-toggle" onclick="toggleDropdown(this)">More</button>
                    <div class="dropdown-menu">
                      <a href="#" onclick="openEditModal(this)" th:attr="data-id=${contact.contactId},
                      data-name=${contact.name}, data-designation=${contact.designation}, data-phno=${contact.phno}">✏️ Edit</a>

                      <a href="#" th:attr="data-id=${contact.contactId}" onclick="confirmDelete(this)">🗑️ Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>

  <div th:replace="~{admin/admin_template :: footer}"></div>

  <!-- Add Creator Modal -->
  <div id="creatorModal" class="modal">
    <div class="modal-content" id="modal-content">
      <span class="close-btn" onclick="closeAddModal(this)">&times;</span>
      <h3 id="modalTitle">Add New Contact</h3>
  
      <form id="contactForm">
        <label for="contactList">Select Contact Table</label>
        <select class="form-control" id="contactList" name="contactList" required>
          <option value="" disabled selected>Select contact table</option>
          <option value="A">Directorate, Shillong</option>
          <option value="B">Branch Press, Tura</option>
          <option value="C">Web Information Manager</option>
        </select>
  
        <label for="userName">Name</label>
        <input type="text" id="userName" name="userName" placeholder="Enter User Name" required>
  
        <label for="designation">Designation</label>
        <input type="text" id="designation" name="designation" placeholder="Enter designation" required>
  
        <label for="stdCode">STD code</label>
        <input type="number" id="stdCode" name="stdCode" placeholder="Enter STD code" required>

        <label for="phone">Phone no</label>
        <input type="number" id="phone" name="phone" placeholder="Enter phone number" required>

        <label for="mobile">Mobile no</label>
        <input type="number" id="mobile" name="mobile" placeholder="Enter mobile number">
  
        <button class="save-btn" type="submit">Submit</button>
      </form>
    </div>
  </div>
  



  <!-- Edit creator modal -->
  <div id="editCreatorModal" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-content" id="edit-modal">
      <span class="close-btn" onclick="closeEditModal()">&times;</span>
      <h3 id="modalTitle">Edit the Contact</h3>
      <!-- <form th:action="@{/admin/edit_creator}" method="post" id="edit-form"> -->
      <form id="edit-form">

        <label for="editName">Name</label>
        <input type="text" id="editName" name="editName"  required>

        <label for="editDesignation">Designation</label>
        <input type="text" id="editDesignation" name="editDesignation"  required>


        <label for="editStd">STD code</label>
        <input type="number" id="editStd" name="editStd"  required>

        <label for="editPhone">Phone no</label>
        <input type="number" id="editPhone" name="editPhone"  required>

        <label for="editMobile">Mobile no</label>
        <input type="number" id="editMobile" name="editMobile">
        
        <!-- <button class="save-btn" type="button" onclick="showEditSaveModal()">Save</button> -->
         <button class="save-btn" type="submit">save</button>
      </form>
    </div>
  </div>


  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/js/admin_contactUs.js"></script>
  <script src="/js/extra.js"></script>



</body>
</html>


