<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>
      Admin: Printing and Stationery Department - Government of Meghalaya
    </title>
    <link rel="stylesheet" th:href="@{/css/all.min.css}" />

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/admin_template.css}" />
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
    <link rel="stylesheet" th:href="@{/css/admin_creator_list.css}" />

    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
    <link rel="stylesheet" th:href="@{/css/sweetalert2.min.css}" />
    <script th:src="@{/js/sweetalert2.all.min.js}"></script>
  </head>

  <body>
    <div th:replace="~{admin/admin_template :: navbar}"></div>

    <div class="wrapper">
      <div th:replace="~{admin/admin_template :: sidebar}"></div>

      <main class="content" id="content">
        <div class="dashboard-container">
          <h2 class="dashboard-title">Tender Dashboard</h2>

          <!-- Search Bar -->
          <div
            class="search-container text-center mb-3"
            th:if="${#lists.size(tenders) > 0}"
          >
            <input
              type="text"
              id="searchInput"
              class="form-control"
              placeholder="Search by Title Reference no or Openning date"
            />
          </div>

          <!-- Total Count Div -->
          <div class="total-count text-center mb-3">
            <p>
              Total Tenders: <span th:text="${#lists.size(tenders)}">0</span>
            </p>
          </div>

          <div class="table-wrapper">
            <table class="dashboard-table" th:if="${#lists.size(tenders) > 0}">
              <thead>
                <tr>
                  <th>Sl No</th>
                  <th>Title</th>
                  <th>Reference No</th>
                  <th>Announcement Date</th>
                  <th>Last Date</th>
                  <th>Openning Date</th>
                  <th>Keywords</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody id="gazetteTableBody">
                <tr th:each="tender, iterStat : ${tenders}">
                  <td th:text="${iterStat.index + 1}">1</td>
                  <td th:text="${tender.title}">gazette-title.pdf</td>
                  <td th:text="${tender.ref_No}">gazette-title.pdf</td>
                  <td th:text="${tender.announcement_Date}">Part 1</td>
                  <td th:text="${tender.last_Date}">2025-03-11</td>
                  <td th:text="${tender.opening_Date}">2025-03-11</td>
                  <td th:text="${tender.keywords}">Part 1</td>

                  <!-- <td>
                                    <div class="dropdown">
                                        <button class="dropdown-toggle" onclick="toggleDropdown(this)">More </button>
                                        <div class="dropdown-menu">
                                            <a href="#" th:attr="data-id=${tender.tId}"
                                                onclick="confirmDelete(this)">🗑️ Delete</a>
                                            <a th:href="@{/tender/pdf/{id}(id=${tender.tId})}" target="_blank">👁️
                                                View</a>
                                        </div>
                                    </div>
                                </td> -->
                            <td>
                                <div class="dropdown">
                                <button class="dropdown-toggle">More</button>

                                <div class="dropdown-menu">
                                    <a
                                    href="#"
                                    class="delete-btn"
                                    th:attr="data-id=${tender.tId}"
                                    >
                                    🗑️ Delete
                                    </a>

                                    <a
                                    th:href="@{/tender/pdf/{id}(id=${tender.tId})}"
                                    target="_blank" rel="noopener noreferrer"
                                    >
                                    👁️ View
                                    </a>
                                </div>
                                </div>
                            </td>
                </tr>
              </tbody>
            </table>
            <p th:unless="${#lists.size(tenders) > 0}" class="no-data-message">
              No gazette entries available.
            </p>
          </div>

          <div id="paginationControls" class="pagination-controls"></div>
        </div>
      </main>
    </div>

    <div th:replace="~{admin/admin_template :: footer}"></div>

    <div th:replace="~{admin/admin_template :: editModal}"></div>
    <div th:replace="~{admin/admin_template :: saveEditModal}"></div>

    <!-- Scripts -->
    <script th:src="@{/js/jquery-4.0.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/admin_tender.js}"></script>
    <script th:src="@{/js/extra.js}"></script>
  </body>
</html>
