<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .content-left{
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.873), rgba(255, 255, 255, 1)), url('/images/front-image.jpg') no-repeat center center / cover;

        }

        .info-text{
            font-weight: 700;
        }
    </style>
    
</head>
<body>
<div th:replace="~{/index :: header}"></div>

<main>
    <div class="main-content">
        <div class="content-left">
        <div class="info-text" th:each="section: ${sections}">
            <h2 style="text-align: center;" th:text="${section.sectionHeading}">About the Department</h2>
            <div th:text="${section.sectionContent}">test</div>     
        </div>
    </div>
    </div>
</main>



<div th:replace="~{/index :: footer}"></div>

<script>


    document.addEventListener('DOMContentLoaded', () => {
    // Menu toggle functionality
    const menuToggle = document.querySelector('.menu-toggle');
    const nav = document.querySelector('nav ul');
    
    if (menuToggle) {
        menuToggle.addEventListener('click', () => {
            nav.classList.toggle('active');
        });
    }


});
</script>
    
</body>
</html>