<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Publisher: Printing and Stationery Department - Government of Meghalaya Dashboard</title>
  <link rel="stylesheet" th:href="@{/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/css/publisher_template.css}">
  <link rel="stylesheet" th:href="@{/css/sweetalert2.min.css}">
  <script th:src="@{/js/sweetalert2.all.min.js}"></script>
</head>

<body>

  <!-- Navbar -->
  <header th:fragment="navbar" class="navbar">
    <div class="navbar-left">
      <i class="fas fa-bars" id="menu-toggle"></i>
      <span class="brand">PRINTING AND STATIONERY DEPARTMENT</span>

    </div>
    <div class="navbar-right">
      <span th:text="${session.loggedInUser}"></span>
      <i class="fas fa-user-circle"></i>
    </div>
  </header>

  <!-- Sidebar + Content Wrapper -->
  <div class="wrapper">
    <!-- Sidebar -->
    <aside th:fragment="sidebar" class="sidebar" id="sidebar">
      <nav>
        <ul>
          <li><a th:href="@{/publisher/publisher_display}"><i class="fas fa-tachometer-alt"></i> Gazette Dashboard</a></li>
          <li><a th:href="@{/publisher/publisher_tender_display}"><i class="fas fa-file-alt"></i> Tender Dashboard</a></li>
          <li><a th:href="@{/publisher/publisher_submission_history}"><i class="fas fa-history"></i> Gazette Submission
              History</a></li>
          <li><a th:href="@{/publisher/publisher_tender_submission_history}"><i class="fas fa-history"></i> Tender Submission
              History</a></li>
          <li><a th:href="@{/logout}" id="logout-link"><i class="fas fa-sign-out-alt"></i> Logout</a></li>

          <!-- <li><a href="/publisher/publisher_display"><i class="fas fa-home"></i>Gazette Dashboard</a></li>
          <li><a href="/publisher/publisher_tender_display"><i class="fas fa-home"></i>Tender Dashboard</a></li>
          <li><a href="/publisher/publisher_submission_history"><i class="fas fa-history"></i>Gazette Submission History</a></li>
          <li><a href="/publisher/publisher_tender_submission_history"><i class="fas fa-history"></i>Tender Submission History</a></li>
          <li><a href="/logout" id="logout-link"><i class="fas fa-sign-out-alt"></i> Logout</a></li> -->
        </ul>
      </nav>
    </aside>

    <!-- Main Content -->
    <main class="content" id="content">

    </main>
  </div>

  <!-- Footer -->
  <footer th:fragment="footer" class="footer">
    <p>&copy; 2025 Gazette Management NIC. All rights reserved.</p>
  </footer>


  <script th:src="@{/js/extra.js}"></script>


</body>

</html>