<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Publisher: Printing and Stationery Department - Government of Meghalaya Dashboard</title>

  <link rel="stylesheet" th:href="@{/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/css/publisher_template.css}">
  <link rel="stylesheet" th:href="@{/css/sweetalert2.min.css}">
  <link rel="stylesheet" th:href="@{/css/publisherTenderSubmissionHistory.css}">

  <script th:src="@{/js/sweetalert2.all.min.js}"></script>

</head>

<body>

  <div th:replace="~{publisher/publisher_template :: navbar}"></div>


  <!-- Sidebar + Content Wrapper -->
  <div class="wrapper">

    <!-- Card Content -->
    <div th:replace="~{publisher/publisher_template :: sidebar}"></div>

    <!-- Main Content -->
    <main class="content" id="content">
      <section class="welcome-box">
        <h2>Welcome, <span th:text="${session.loggedInUser}"></span>!</h2>
        <p>Your Tender History & Activity</p>
      </section>
      <section class="info-cards">
        <div class="card">
          <i class="fas fa-file-alt card-icon"></i>
          <h3>Pending Approved</h3>
          <p th:text="${totalSubmissions}">12</p>
        </div>
        <div class="card">
          <i class="fas fa-clock card-icon"></i>
          <h3>Approved</h3>
          <p th:text="${approved}">3</p>
        </div>
      </section>
    </main>
  </div>

  <div th:replace="~{publisher/publisher_template :: footer}"></div>



  <script th:src="@{/js/extra.js}"></script>


</body>

</html>