<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Accessibility Statement: Printing and Stationery Department - Government
      of Meghalaya
    </title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <link rel="stylesheet" th:href="@{/css/all.min.css}" />
    <link rel="stylesheet" th:href="@{/css/top_nav.css}" />
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.creaseFont.min.js}"></script>
    <script th:src="@{/js/theme.js}"></script>
    <script th:src="@{/js/top_nav.js}"></script>
    <link rel="stylesheet" th:href="@{/css/accessibilityStatement.css}" />
  </head>

  <body>
    <div th:replace="~{/index :: header_top}"></div>

    <div th:replace="~{/index :: header}"></div>

    <main>
      <section class="accessibility-section">
        <h2>Accessibility Statement</h2>

        <p>
          The Official website of the Printing and Stationery Department,
          Meghalaya, has been built with an aim to provide maximum accessibility
          and usability to its visitors.
        </p>

        <p>
          This website can be viewed from a variety of devices such as Desktop
          or Laptop computers, web-enabled mobile devices, WAP phones, PDAs,
          etc. However, currently Portable Document Format (PDF) files are not
          fully accessible.
        </p>

        <p>
          We aim to be standards compliant and follow principles of usability
          and universal design, which should help all visitors of this website.
        </p>

        <p>
          This website is designed to meet the Guidelines for Indian Government
          Websites and also adheres to level AA of the Web Content Accessibility
          Guidelines (W.C.A.G.) 2.0 laid down by the World Wide Web Consortium
          (W.3.C.). Part of the information in the website is also made
          available through links to external Websites. External Websites are
          maintained by the respective departments who are responsible for
          making their sites accessible.
        </p>

        <p>
          If you face any problem or have suggestions regarding the
          accessibility of this website, please do let us know the nature of the
          problem along with your contact information to get back to you at the
          earliest.
        </p>

        <a href="/accessibilityBrowsers" class="accessibility-link"
          >Accessibility Options in browsers</a
        >
      </section>
    </main>

    <div th:replace="~{/index :: footer}"></div>
  </body>
</html>
