<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Contact Us: Printing and Stationery Department - Government of Meghalaya
    </title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <link rel="stylesheet" th:href="@{/css/all.min.css}" />

    <link rel="stylesheet" th:href="@{/css/top_nav.css}" />

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.creaseFont.min.js}"></script>
    <script th:src="@{/js/theme.js}"></script>
    <script th:src="@{/js/top_nav.js}"></script>

    <link rel="stylesheet" th:href="@{/css/contactUs.css}" />
  </head>

  <body>
    <div th:replace="~{/index :: header_top}"></div>

    <div th:replace="~{/index :: header}"></div>

    <main>
      <div class="main-content">
        <div class="content-left">
          <div class="info-text">
            <h2 class="section-heading">Contact Us</h2>

            <div class="address-section">
              <h3>Our Office</h3>
              <address>
                Department of Printing and Stationery<br />
                Secretariat Hill<br />
                Shillong<br />
                India<br /><br />
                <!-- <strong>Phone:</strong> +91-11-24305000<br /> -->
                <strong>e-mail:</strong> pns-meg[at]gov[dot]in
              </address>
            </div>

            <div class="tables-container">
              <div class="table-wrapper">
                <h3>A. Directorate, Shillong</h3>
                <table>
                  <thead>
                    <tr>
                      <th>Sl No</th>
                      <th>Name</th>
                      <th>Designation</th>
                      <th>Phone No</th>
                      <th>Mobile No</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      th:each="contact , iterStat: ${contacts}"
                      th:if="${contact.contactTable == 'A'}"
                    >
                      <td th:text="${iterStat.index + 1}">1</td>
                      <td th:text="${contact.name}"></td>
                      <td th:text="${contact.designation}"></td>
                      <!-- <td th:text="${contact.phno.substring(0,4)} + '-' + ${contact.phno.substring(5)}"></td> -->
                      <td th:text="${contact.stdCode} + '-' + ${contact.phno}">
                        8638462513
                      </td>
                      <td th:text="${contact.mobile}">8638462513</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="table-wrapper">
                <h3>B. Branch Press, Tura</h3>
                <table>
                  <thead>
                    <tr>
                      <th>Sl No</th>
                      <th>Name</th>
                      <th>Designation</th>
                      <th>Phone No</th>
                      <th>Mobile No</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      th:each="contact, iterStat: ${contacts}"
                      th:if="${contact.contactTable == 'B'}"
                    >
                      <td th:text="${iterStat.index + 1}">1</td>
                      <td th:text="${contact.name}"></td>
                      <td th:text="${contact.designation}"></td>
                      <!-- <td th:text="${contact.phno.substring(0,4)} + '-' + ${contact.phno.substring(5)}"></td> -->
                      <td th:text="${contact.stdCode} + '-' + ${contact.phno}">
                        8638462513
                      </td>
                      <td th:text="${contact.mobile}">8638462513</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="table-wrapper">
                <h3>C. Web Information Manager</h3>
                <table>
                  <thead>
                    <tr>
                      <th>Sl No</th>
                      <th>Name</th>
                      <th>Designation</th>
                      <th>Phone No</th>
                      <th>Mobile No</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      th:each="contact, iterStat: ${contacts}"
                      th:if="${contact.contactTable == 'C'}"
                    >
                      <td th:text="${iterStat.index + 1}">1</td>
                      <td th:text="${contact.name}"></td>
                      <td th:text="${contact.designation}"></td>
                      <!-- <td th:text="${contact.phno.substring(0,4)} + '-' + ${contact.phno.substring(5)}"></td> -->
                      <td th:text="${contact.stdCode} + '-' + ${contact.phno}">
                        8638462513
                      </td>
                      <td th:text="${contact.mobile}">8638462513</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <div th:replace="~{/index :: footer}"></div>
  </body>
</html>
