<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Functions: Printing and Stationery Department - Government of Meghalaya</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <link rel="stylesheet" th:href="@{/css/all.min.css}">

    <link rel="stylesheet" th:href="@{/css/top_nav.css}">
    <link rel="stylesheet" th:href="@{/css/functions.css}">
    
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.creaseFont.min.js}"></script>
    <script th:src="@{/js/theme.js}"></script>
    <script th:src="@{/js/top_nav.js}"></script>

</head>

<body>
    <div th:replace="~{/index :: header_top}"></div>

    <div th:replace="~{/index :: header}"></div>

    <main>
        <div class="main-content">
            <div class="content-left">
                <div class="info-text">
                    <h2 style="text-align: center;">Press Wing</h2>
                    <p>It is responsible for undertaking all government printing works such as printing of various
                        government Publications, Journals, Reports, Official Gazette, Budget Documents, Finance
                        Accounts, Appropriation Accounts, Audit Reports, Report of the Auditor General of India relating
                        to the State government, various Rules of the state government; Pamphlets, Brochures, Posters
                        etc. relating to various programmes of the government; all kinds of D.O Letter heads, Visiting
                        Cards, Invitation Cards of government officials; large numbers of scheduled forms and
                        non-schedule forms use in state government departments etc.; It is also undertakes printing of
                        Ballot Papers for Parliamentary, Assembly,and District Council elections, printing works of
                        autonomous bodies on payment basis.

                    </p>


                    <h2 style="text-align: center;">Stationery and Forms Wing</h2>
                    <p>The Stationery and Forms Store is responsible for supply and distribution of Stationery articles,
                        papers and schedule forms to
                        the entire State Government Offices.
                    <ul>
                        <li>Apart from other stationery articles, there are more than 2500 types of Schedule forms
                            including Cheque which are printed
                            in the Government Press and supplied to various indenting Offices on the basis of their
                            annual indent.</li>
                        <li>The various forms are supplied to the Government Departments on the Basis of Department’s
                            annual indent.</li>
                        <li>In addition, some of the forms like Challan, Service Book etc., are sold to the Autonomous
                            Bodies and the public on
                            payment basis and Revenue Collected is deposited to Revenue head.</li>
                        <li>Annual indent of various Department are scrutinised taking into account realistic
                            requirement based on numerical strength
                            of the office concern and nature of works of the particular office, and the materials
                            supplied according to availability.</li>
                        <li>Annual tenders are invited for procurement of Stationery articles and papers and procured on
                            the basis of the
                            recommendation of Department Purchase Board and approval of the Government.</li>

                    </ul>
                    </p>










                </div>
            </div>
        </div>
    </main>



    <div th:replace="~{/index :: footer}"></div>

</body>

</html>
