<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Help: Printing and Stationery Department - Government of Meghalaya
    </title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <link rel="stylesheet" th:href="@{/css/all.min.css}" />

    <link rel="stylesheet" th:href="@{/css/top_nav.css}" />
    <link rel="stylesheet" th:href="@{/css/help.css}" />

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.creaseFont.min.js}"></script>
    <script th:src="@{/js/theme.js}"></script>
    <script th:src="@{/js/top_nav.js}"></script>
  </head>

  <body>
    <div th:replace="~{/index :: header_top}"></div>

    <div th:replace="~{/index :: header}"></div>

    <main>
      <div class="help-container">
        <h2>Help</h2>

        <h3><strong>Viewing Different File Formats</strong></h3>
        <table class="gridtable">
          <thead>
            <tr>
              <th>Document Type</th>
              <th>Download</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Portable Document Format (P.D.F.) content</td>
              <td>
                <a
                  href="http://www.adobe.com/products/acrobat/readstep2.html"
                  target="_blank" rel="noopener noreferrer"
                  >Adobe Acrobat Reader</a
                >
              </td>
            </tr>
            <tr>
              <td>Word Files</td>
              <td>
                <a
                  href="http://www.microsoft.com/downloads/details.aspx?familyid=941b3470-3ae9-4aee-8f43-c6bb74cd1466&displaylang=en"
                  target="_blank" rel="noopener noreferrer"
                  >Microsoft Office Compatibility Pack for Word (2007)</a
                >
              </td>
            </tr>
            <tr>
              <td>Excel Files</td>
              <td>
                <a
                  href="https://www.microsoft.com/en-us/download/details.aspx?id=10"
                  target="_blank" rel="noopener noreferrer"
                  >Excel Viewer</a
                ><br />
                <a
                  href="http://www.microsoft.com/downloads/details.aspx?familyid=941b3470-3ae9-4aee-8f43-c6bb74cd1466&displaylang=en"
                  target="_blank" rel="noopener noreferrer"
                  >Compatibility Pack for Excel (2007)</a
                >
              </td>
            </tr>
            <tr>
              <td>PowerPoint Presentations</td>
              <td>
                <a
                  href="https://www.microsoft.com/en-us/download/details.aspx?id=13"
                  target="_blank" rel="noopener noreferrer"
                  >PowerPoint Viewer</a
                ><br />
                <a
                  href="http://www.microsoft.com/downloads/details.aspx?familyid=941b3470-3ae9-4aee-8f43-c6bb74cd1466&displaylang=en"
                  target="_blank" rel="noopener noreferrer"
                  >Compatibility Pack for PowerPoint (2007)</a
                >
              </td>
            </tr>
            <tr>
              <td>Flash Content</td>
              <td>
                <a href="http://get.adobe.com/flashplayer/" target="_blank" rel="noopener noreferrer"
                  >Adobe Flash Player</a
                >
              </td>
            </tr>
            <tr>
              <td>Audio Files</td>
              <td>
                <a
                  href="http://windows.microsoft.com/en-us/windows/download-windows-media-player"
                  target="_blank" rel="noopener noreferrer"
                  >Windows Media Player</a
                >
              </td>
            </tr>
          </tbody>
        </table>

        <h3><strong>Accessibility Help</strong></h3>
        <p>
          Use the accessibility options provided by this Website to control the
          screen display. These options allow increasing the text spacing,
          changing the text size and colour scheme for clear visibility and
          better readability.
        </p>

        <h3><strong>Text Size Icons</strong></h3>
        <ul>
          <li class="icon-text">
            <img
              src="/images/stock_increase-font.png"
              class="icon"
              alt="Increase font size"
            />
            Increase text size: Up to 3 levels
          </li>
          <li class="icon-text">
            <img
              src="/images/stock_decrease-font.png"
              class="icon"
              alt="Decrease font size"
            />
            Decrease text size: Down to 3 levels
          </li>
          <li class="icon-text">
            <img
              src="/images/stock_font-size.png"
              class="icon"
              alt="Default font size"
            />
            Reset to default text size
          </li>
        </ul>

        <h3><strong>Changing the Colour Scheme</strong></h3>
        <p>Change the color scheme for better visibility:</p>
        <ul>
          <li class="icon-text">
            <img src="images/default.png" class="icon" alt="Default Scheme" />
            Default contrast scheme
          </li>
          <li class="icon-text">
            <img src="images/black.png" class="icon" alt="Yellow on Black" />
            Yellow text on Black background
          </li>
          <li class="icon-text">
            <img src="images/white.png" class="icon" alt="Black on White" />
            Black text on White background
          </li>
        </ul>
        <p><strong>Note:</strong> Images are not affected by color changes.</p>

        <h3><strong>Changing the Text Spacing</strong></h3>
        <p>
          To improve readability for visually impaired users, increase spacing
          between letters.
        </p>
        <p>
          Click
          <button class="button">On</button>
          to increase spacing and
          <button class="button">Off</button>
          to reset to default.
        </p>

        <h3><strong>Related Links</strong></h3>
        <ul>
          <li><a href="/accessibilityStatement">Accessibility Statement</a></li>
          <li>
            <a href="accessibilityBrowsers"
              >Accessibility Options in Browsers</a
            >
          </li>
        </ul>
      </div>
    </main>

    <div th:replace="~{/index :: footer}"></div>
  </body>
</html>
