<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Printing and Stationery Department - Government of Meghalaya</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <!-- <link rel="stylesheet" th:href="@{/css/all.min.css}"> -->
    <!-- <link href="/css/black.css" rel="alternate stylesheet" type="text/css" title="black"/> -->
    <!-- <link href="/css/white.css" rel="alternate stylesheet" type="text/css" title="white"/> -->

    <link rel="stylesheet" th:href="@{/css/all.min.css}" />

    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="stylesheet" th:href="@{/css/top_nav.css}" />

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.creaseFont.min.js}"></script>
    <script th:src="@{/js/theme.js}"></script>
    <script th:src="@{/js/top_nav.js}"></script>
  </head>

  <body>
    <div class="header_top" th:fragment="header_top">
      <ul class="top_nav">
        <li class="search">
          <form
            method="get"
            action="https://www.google.com/search"
            target="_blank" rel="noopener noreferrer"
            autocomplete="off"
          >
            <label for="search-form"><i class="fas fa-search"></i></label>
            <input
              type="text"
              name="q"
              id="search-form"
              maxlength="200"
              placeholder="Search this site..."
            />
            <input type="submit" value="Go" />
            <input
              type="hidden"
              name="sitesearch"
              value="https://megpns.gov.in"
            />
          </form>
        </li>
        <li>
          <a style="text-decoration: none" th:href="@{/index#body}"
            >Skip to main content</a
          >
        </li>
        <li>
          <a style="text-decoration: none" th:href="@{/screenReader}"
            >Screen Reader Access</a
          >
        </li>
        <li class="font-controls">
          <!-- <span><i class="fa-solid fa-font"></i> Text Size:</span> -->
          <span><i class="fa-solid fa-text-slash"></i> Text Size:</span>
          <a id="fontLarge" href="#"><i class="fas fa-plus"></i></a>
          <a id="fontDefault" href="#"><i class="fas fa-font"></i></a>
          <a id="fontSmall" href="#"><i class="fas fa-minus"></i></a>
        </li>
        <li class="contrast-controls">
          <span><i class="fas fa-adjust"></i> Contrast:</span>

          <a href="#" class="theme-btn" data-theme="black">
            <img th:src="@{/images/black.png}" alt="Yellow on Black" />
          </a>

          <a href="#" class="theme-btn" data-theme="white">
            <img th:src="@{/images/white.png}" alt="Black on White" />
          </a>

          <a href="#" class="theme-btn" data-theme="default">
            <img th:src="@{/images/default.png}" alt="Default Contrast" />
          </a>
        </li>
        <!-- <li class="char-spacing">
          <span><i class="fas fa-text-width"></i> Character Spacing:</span>
          <button onclick="setCharSpacing(true)">On</button>
          <button onclick="setCharSpacing(false)">Off</button>
        </li> -->
        <li class="char-spacing">
          <span><i class="fas fa-text-width"></i> Character Spacing:</span>
          <button class="char-spacing-btn" data-spacing="on">On</button>
          <button class="char-spacing-btn" data-spacing="off">Off</button>
        </li>
      </ul>
    </div>

    <header th:fragment="header">
      <button class="menu-toggle">☰</button>
      <div class="header-content">
        <div class="header-left">
          <img th:src="@{/images/emblem.png}" alt="Emblem" />
        </div>
        <div class="header-center">
          <h1>PRINTING AND STATIONERY DEPARTMENT</h1>
          <h2>Government of Meghalaya</h2>
        </div>
        <div>test</div>
      </div>

      <nav>
        <ul>
          <li><a th:href="@{/index}">Home</a></li>
          <li><a th:href="@{/about}">About Us</a></li>
          <li><a th:href="@{/functions}">Functions</a></li>
          <li><a th:href="@{/gazette/display}">Gazette</a></li>
          <li><a th:href="@{/organizationChart}">Organization Chart</a></li>
          <li><a th:href="@{/tender/display}">Tenders</a></li>
          <li><a th:href="@{/contact/display}">Contact Us</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="info-boxes">
        <div class="box citizens-corner">
          <h3>Citizen's Corner</h3>
          <ul>
            <li>
              <a
                th:href="@{https://megpgrams.gov.in/lodgegrievance.htm?orc=29}"
                target="_blank" rel="noopener noreferrer"
                >Lodge your grievance</a
              >
            </li>
            <li>
              <a th:href="@{https://megrti.gov.in/}" target="_blank" rel="noopener noreferrer"
                >Right to Information</a
              >
            </li>
            <li>
              <a
                th:href="@{https://meghalaya.gov.in/key-contacts/department/35}"
                target="_blank" rel="noopener noreferrer"
                >Key contacts</a
              >
            </li>
          </ul>
        </div>

        <div class="box important-links">
          <h3>Important links</h3>
          <ul>
            <li>
              <a
                th:href="@{https://egazette.gov.in/(S(fjtsivlmksfdwrwkow0mygzl))/default.aspx}"
                target="_blank" rel="noopener noreferrer"
                >The Gazette of India</a
              >
            </li>
            <li>
              <a th:href="@{https://megipr.gov.in/}" target="_blank" rel="noopener noreferrer"
                >Information & Public Relations Department</a
              >
            </li>
            <li>
              <a th:href="@{https://megassembly.gov.in/}" target="_blank" rel="noopener noreferrer"
                >Meghalaya Legislative Assembly</a
              >
            </li>
          </ul>
        </div>

        <div class="box online-services">
          <h3>Online services</h3>
          <ul>
            <li>
              <a
                th:href="@{https://investmeghalaya.gov.in/loginWindow.do}"
                target="_blank" rel="noopener noreferrer"
                >Annual subscription for complete Gazette with extra ordinary</a
              >
            </li>
            <li>
              <a
                th:href="@{https://investmeghalaya.gov.in/loginWindow.do}"
                target="_blank" rel="noopener noreferrer"
                >Printing Request</a
              >
            </li>
            <li>
              <a
                th:href="@{https://investmeghalaya.gov.in/loginWindow.do}"
                target="_blank" rel="noopener noreferrer"
                >Demand Request for issue of Stationery Articles or Schedule
                Forms or Service Books</a
              >
            </li>
          </ul>
        </div>
      </section>
      <div class="main-content" id="body">
        <section class="content-left">
          <div class="info-text">
            <h2>About the Department</h2>
            <p>
              Government Press was established about 100 years ago during the
              British Rule. After independence the then State of Assam was
              created with its capital and HQ of the Secretariat Press at
              Shillong under the supervision of Superintendent and Assistant
              Superintendent. The Office of the Government Press, Shillong and
              Stationery and Forms Office were amalgamated into one
              establishment and upgraded to the status of the Directorate of
              Printing and Stationery, Meghalaya, Shillong on the 23rd June,
              1982 after Meghalaya attained Statehood. Branch Press Tura, was
              commissioned during the year 1983 and much of the workload have
              been reduced considerably.
            </p>
            <!-- <div class="department-image">
                        <img src="/images/front.jpg" alt="Department Building">
                    </div> -->
            <a th:href="@{/about}" class="more-link">More about the department →</a>
          </div>
        </section>

        <div class="content-right">
          <section class="photo-gallery">
            <h3>Photo Gallery</h3>
            <div class="gallery-container">
              <button class="gallery-nav prev">❮</button>
              <button class="gallery-nav next">❯</button>

              <div class="gallery-slider">
                <div
                  th:each="img, iterStat : ${images}"
                  class="slide-wrapper"
                  th:classappend="${iterStat.index == 0} ? ' active' : ''"
                >
                  <img
                    th:src="@{'/gallery/images/' + ${img.imageId}}"
                    alt="Gallery Image"
                    class="slide-img"
                  />
                </div>
              </div>
            </div>
          </section>

          <!-- <section class="imageLink">
                    <a href="http://india.gov.in" target="_blank"><img src="/images/banner1.jpg" alt=""></a>
                    <a href="http://meghalaya.gov.in/" target="_blank"><img src="/images/meg.jpg" alt=""></a>

                </section> -->
        </div>
      </div>
      <section class="important-pdf">
        <h3>Important PDF</h3>
        <ul>
          <li th:each="wrapper : ${importantPdfs}">
            <a th:href="@{/pdf/{id}(id=${wrapper.pdf.pdfId})}" target="_blank" rel="noopener noreferrer"> 
              <span th:text="${wrapper.pdf.pdfTitle}" id="wraper-title"></span>
              <span
                th:text="' (' + ${wrapper.size} + ')'"
                id="wraper-size"
              ></span>
              <img th:src="@{/images/pdf-icon.png}" alt="pdf-icon" id="wraper-icon" />
            </a>
          </li>
        </ul>
      </section>
    </main>
    <section class="imageLink">
      <!-- <a href="http://india.gov.in" target="_blank"><img src="/images/banner1.jpg" alt=""></a> -->
      <a style="height: 90%" th:href="@{http://meghalaya.gov.in/}" target="_blank" rel="noopener noreferrer"
        ><img src="/images/gov_meghalaya.png" alt=""
      /></a>
      <a style="height: 40%" th:href="@{https://www.data.gov.in/help}" target="_blank" rel="noopener noreferrer"
        ><img src="/images/datagov.png" alt=""
      /></a>
      <a th:href="@{http://india.gov.in//}" target="_blank" rel="noopener noreferrer"
        ><img src="/images/India_Portal.png" alt=""
      /></a>

      <a style="height: 35%" th:href="@{https://www.nic.gov.in/}" target="_blank" rel="noopener noreferrer"
        ><img src="/images/NIC.png" alt=""
      /></a>

      <a th:href="@{http://mygov.in//}" target="_blank" rel="noopener noreferrer"
        ><img src="/images/My_Gov.png" alt=""
      /></a>
    </section>

    <footer th:fragment="footer">
      <div class="footer-links">
        <a th:href="@{/policies}">Policies</a>
        <a th:href="@{/siteMap}">Site Map</a>
        <a th:href="@{/accessibilityStatement}">Accessibility Statement</a>
        <a th:href="@{/help}">Help</a>
      </div>
      <p>
        Contents owned, maintained and updated by Printing and Stationery
        Department, Govt. of Meghalaya
      </p>
      <p>Site designed, developed and hosted by National Informatics Centre</p>
      <p id="lastUpdatedText">Last updated on May 19 2025</p>
    </footer>
  </body>
  <script th:src="@{/js/index.js}"></script>
</html>
