<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Organization Chart: Printing and Stationery Department - Government of
      Meghalaya
    </title>

    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/all.min.css}" />
    <link rel="stylesheet" th:href="@{/css/top_nav.css}" />
    <link rel="stylesheet" th:href="@{/css/organizationChart.css}" />

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.creaseFont.min.js}"></script>
    <script th:src="@{/js/theme.js}"></script>
    <script th:src="@{/js/top_nav.js}"></script>
  </head>

  <body>
    <div th:replace="~{/index :: header_top}"></div>

    <div th:replace="~{/index :: header}"></div>

    <main class="content">
      <h1 class="h1-head">Organization Chart</h1>
      <img
        th:src="@{/images/org_chart.png}"
        alt="Organization Chart"
        class="main-img"
      />
    </main>

    <div th:replace="~{/index :: footer}"></div>
  </body>
</html>
