<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Screen Reader: Printing and Stationery Department - Government of Meghalaya</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">

  <link rel="stylesheet" th:href="@{/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/css/top_nav.css}">
  <link rel="stylesheet" th:href="@{/css/screenReader.css}">
  <script type='text/javascript' th:src='@{/js/jquery.min.js}'></script>
  <script type="text/javascript" th:src="@{/js/jquery.creaseFont.min.js}"></script>
  <script th:src="@{/js/theme.js}" type="text/javascript"></script>
  <script th:src="@{/js/top_nav.js}"></script>

</head>

<body>
  <div th:replace="~{/index :: header_top}"></div>

  <div th:replace="~{/index :: header}"></div>

  <main>

    <div class="screen-reader-access">
      <h2>Screen Reader Access</h2>
      <p>
        Assistive technologies are meant to cater to the needs of people with various impairments like visual, hearing,
        mobility, and learning impairment. These technologies help differently-abled people in rendering or viewing a
        webpage.
        Screen readers convert text into synthesized speech, enabling visually impaired users to listen to and
        comprehend webpage content. Visit the following links to learn more:
      </p>
      <ul>
        <li><a th:href="@{http://www.screenreader.net/}" target="_blank" 
            rel="noopener noreferrer">http://www.screenreader.net</a></li>
        <li><a th:href="@{http://www.freedomscientific.com/}" target="_blank"
            rel="noopener noreferrer">http://www.freedomscientific.com</a></li>
        <li><a th:href="@{http://www.gwmicro.com/}" target="_blank" rel="noopener noreferrer">http://www.gwmicro.com</a></li>
        <li><a th:href="@{http://www.spectronicsinoz.com/}" target="_blank"
            rel="noopener noreferrer">http://www.spectronicsinoz.com</a></li>
      </ul>

      <!-- <h3>Screen Reader Access</h3> -->
      <p>
        The "Guidelines for Indian Government Websites" website complies with World Wide Web Consortium (W.3.C.) Web
        Content Accessibility Guidelines (W.C.A.G.) 2.0 level AA. This will enable people with visual impairments access
        the website using assistive technologies, such as screen readers. The information of the website is accessible
        with different screen readers, such as J.A.W.S. that stands for Job Access With Speech, N.V.D.A. that stands for
        Non Visual Desktop Access, S.A.F.A. that stands for Screen Access For All, Supernova and Window-Eyes. </p>
      <p>Following table lists the information about different screen readers:</p>

      <h3>Information related to the various screen readers</h3>
      <table>
        <thead>
          <tr>
            <th>Screen Reader</th>
            <th>Website</th>
            <th>Free or Commercial</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Screen Reader">Non Visual Desktop Access (NVDA)</td>
            <td data-label="Website"><a th:href="@{http://www.nvda-project.org/}" target="_blank"
                rel="noopener noreferrer">nvda-project.org</a></td>
            <td data-label="Free or Commercial">Free</td>
          </tr>
          <tr>
            <td data-label="Screen Reader">System Access To Go</td>
            <td data-label="Website"><a th:href="@{http://www.satogo.com/}" target="_blank"
                rel="noopener noreferrer">satogo.com</a></td>
            <td data-label="Free or Commercial">Free</td>
          </tr>
          <tr>
            <td data-label="Screen Reader">Thunder</td>
            <td data-label="Website"><a th:href="@{http://www.screenreader.net/index.php?pageid=2}" target="_blank"
                rel="noopener noreferrer">screenreader.net</a></td>
            <td data-label="Free or Commercial">Free</td>
          </tr>
          <tr>
            <td data-label="Screen Reader">Hal</td>
            <td data-label="Website"><a th:href="@{http://www.yourdolphin.co.uk/productdetail.asp?id=5}" target="_blank"
                rel="noopener noreferrer">yourdolphin.co.uk</a></td>
            <td data-label="Free or Commercial">Commercial</td>
          </tr>
          <tr>
            <td data-label="Screen Reader">JAWS that stands for Job Access With Speech</td>
            <td data-label="Website"><a th:href="@{http://www.freedomscientific.com/jaws-hq.asp}" target="_blank"
                rel="noopener noreferrer">freedomscientific.com</a></td>
            <td data-label="Free or Commercial">Commercial</td>
          </tr>
          <tr>
            <td data-label="Screen Reader">Supernova</td>
            <td data-label="Website"><a th:href="@{http://www.yourdolphin.co.uk/productdetail.asp?id=1}" target="_blank"
                rel="noopener noreferrer">yourdolphin.co.uk</a></td>
            <td data-label="Free or Commercial">Commercial</td>
          </tr>
          <tr>
            <td data-label="Screen Reader">Window-Eyes</td>
            <td data-label="Website"><a th:href="@{http://www.gwmicro.com/Window-Eyes/}" target="_blank"
                rel="noopener noreferrer">gwmicro.com</a></td>
            <td data-label="Free or Commercial">Commercial</td>
          </tr>
        </tbody>
      </table>
    </div>

  </main>


  <div th:replace="~{/index :: footer}"></div>

</body>

</html>