<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Site Map: Printing and Stationery Department - Government of Meghalaya
    </title>
    
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/all.min.css}" />
    <link rel="stylesheet" th:href="@{/css/top_nav.css}" />
    <link rel="stylesheet" th:href="@{/css/siteMap.css}" />

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.creaseFont.min.js}"></script>
    <script th:src="@{/js/theme.js}"></script>
    <script th:src="@{/js/top_nav.js}"></script>
  </head>

  <body>
    <div th:replace="~{/index :: header_top}"></div>

    <div th:replace="~{/index :: header}"></div>

    <main>
      <div class="sitemap-container">
        <h2>Sitemap</h2>

        <div class="sitemap-columns">
          <!-- Column 1 -->
          <div class="sitemap-column">
            <h3>Navigation</h3>
            <ul>
              <li><a th:href="@{/index}">Home</a></li>
              <li><a th:href="@{/about}">About Us</a></li>
              <li><a th:href="@{/functions}">Functions</a></li>
              <li><a th:href="@{/gazette/display}">Gazette</a></li>
              <li><a th:href="@{/organizationChart}">Organisation Chart</a></li>
              <li><a th:href="@{/tender/display}">Tenders</a></li>
              <li class="nested">
                <a th:href="@{/tender/displayArchive}">↳ Archive</a>
              </li>
              <li><a th:href="@{/contact/display}">Contact Us</a></li>
              <!-- <li><a th:href="@{/pdfs/Citizen_Charter.pdf}" target="_blank" rel="noopener noreferrer">Citizen's Charter</a></li> -->
            </ul>
          </div>

          <!-- Column 2 -->
          <div class="sitemap-column">
            <h3>Citizen's Corner</h3>
            <ul>
              <li>
                <a
                  th:href="@{https://megpgrams.gov.in/lodgegrievance.htm?orc=29}"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Lodge your grievance</a
                >
              </li>
              <li>
                <a
                  th:href="@{https://megrti.gov.in/}"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Right to Information</a
                >
              </li>
              <li>
                <a
                  th:href="@{https://meghalaya.gov.in/key-contacts/department/35}"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Key Contacts</a
                >
              </li>
            </ul>

            <h3>Important links</h3>
            <ul>
              <li>
                <a
                  th:href="@{https://egazette.gov.in/(S(fjtsivlmksfdwrwkow0mygzl))/default.aspx}"
                  target="_blank"
                  rel="noopener noreferrer"
                  >The Gazette of India</a
                >
              </li>
              <li>
                <a
                  th:href="@{https://megipr.gov.in/}"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Information & Public Relations Department</a
                >
              </li>
              <li>
                <a
                  th:href="@{https://megassembly.gov.in/}"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Meghalaya Legislative Assembly</a
                >
              </li>
            </ul>

            <h3>Online services</h3>
            <ul>
              <li>
                <a
                  th:href="@{https://investmeghalaya.gov.in/loginWindow.do}"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Annual subscription for complete Gazette with extra
                  ordinary</a
                >
              </li>
              <li>
                <a
                  th:href="@{https://investmeghalaya.gov.in/loginWindow.do}"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Printing Request</a
                >
              </li>
              <li>
                <a
                  th:href="@{https://investmeghalaya.gov.in/loginWindow.do}"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Demand Request for issue of Stationery Articles or Schedule
                  Forms or Service Books</a
                >
              </li>
            </ul>
          </div>

          <!-- Column 3 -->
          <div class="sitemap-column">
            <h3>Important Pdf</h3>
            <ul th:each="pdf : ${pdfs}">
              <li>
                <a
                  th:href="@{/pdf/{id}(id=${pdf.pdfId})}"
                  target="_blank"
                  rel="noopener noreferrer"
                  th:text="${pdf.pdfTitle}"
                  >Information & Public Relations</a
                ><img
                  th:src="@{/images/pdf-icon.png}"
                  alt="PDF"
                  width="16"
                  height="16"
                />
              </li>
              <!-- <li><a href="http://megassembly.gov.in/" target="_blank" rel="noopener noreferrer">Meghalaya Legislative Assembly</a></li> -->
            </ul>

            <h3>Support</h3>
            <ul>
              <li><a th:href="@{/policies}">Policies</a></li>
              <li><a href="#">Site Map</a></li>
              <li>
                <a th:href="@{/accessibilityStatement}">Accessibility Statement</a>
              </li>
              <li class="nested">
                <a th:href="@{/accessibilityBrowsers}">Accessibility Browsers</a>
              </li>
              <li><a th:href="@{/help}">Help</a></li>
            </ul>
          </div>
        </div>
      </div>
    </main>

    <div th:replace="~{/index :: footer}"></div>
  </body>
</html>
