<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tender Display: Printing and Stationery Department - Government of Meghalaya</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/top_nav.css}">
    <link rel="stylesheet" th:href="@{/css/tender.css}">

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.creaseFont.min.js}"></script>
    <script th:src="@{/js/theme.js}"></script>
    <script th:src="@{/js/top_nav.js}"></script>

</head>
<body>
    <div th:replace="~{/index :: header_top}"></div>

    <div th:replace="~{/index :: header}"></div>

    <main>
        <div class="tender-container">

            <div class="tender-list">
                <div class="tender-header">
                    <h2>Active Tenders</h2>
                    <h3><a href="/tender/displayArchive" class="archive-link">Archive</a></h3>
                </div>
                <ul class="tender-items" id="tender-items">
                    <th:block th:each="wrapper : ${tendersWithSize}">
                        <li>
                            <a th:href="@{/tender/pdf/{id}(id=${wrapper.tender.tId})}" target="_blank">
                                <span th:text="${wrapper.tender.title}" class="wraper-title"></span>
                                <span th:text="' (' + ${wrapper.fileSize} + ')'" class="wraper-text"></span>
                                <img src="/images/pdf-icon.png" alt="pdf-icon" class="wraper-img">
                            </a>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </main>

    <div th:replace="~{/index :: footer}"></div>


 
</body>
</html>