<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tender Display: Printing and Stationery Department - Government of Meghalaya</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/top_nav.css}">
    <link rel="stylesheet" th:href="@{/css/tenderArchive.css}">

    <script type='text/javascript' th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.creaseFont.min.js}"></script>
    <script th:src="@{/js/theme.js}" type="text/javascript"></script>
    <script th:src="@{/js/top_nav.js}"></script>

</head>

<body>

    <div th:replace="~{/index :: header_top}"></div>

    <div th:replace="~{/index :: header}"></div>

    <main>
        <div class="tender-container">
            <div class="tender-filters">
                <div class="filter-group">
                    <label for="year-select">Select Year</label>
                    <select id="year-select">
                        <option value="">Choose Year</option>
                        <th:block th:each="year : ${years}">
                            <option th:value="${year}" th:text="${year}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="filter-group">
                    <label for="month-select">Select Month</label>
                    <select id="month-select" disabled>
                        <option value="">Choose Month</option>
                    </select>
                </div>
            </div>

            <div class="tender-list">
                <h2>Available Tenders</h2>
                <ul class="tender-items" id="tender-items">
                    <!-- Tender items will be populated here -->
                    <li><a href=""></a></li>

                </ul>
            </div>
        </div>
    </main>

    <div th:replace="~{/index :: footer}"></div>


    <script th:src="@{/js/tenderScript.js}"></script>
</body>

</html>
