<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Creator: Printing and Stationery Department - Government of Meghalaya Dashboard</title>
  <link rel="stylesheet" th:href="@{/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/css/creator_template.css}">
  <link rel="stylesheet" th:href="@{/css/sweetalert2.min.css}">
  <link rel="stylesheet" th:href="@{/css/creatorTenderSubmissionHistory.css}">

  <!-- SweetAlert -->
  <script th:src="@{/js/sweetalert2.all.min.js}"></script>

</head>

<body>

  <div th:replace="~{creator/creator_template :: navbar}"></div>


  <!-- Sidebar + Content Wrapper -->
  <div class="wrapper">

    <!-- Card Content -->
    <div th:replace="~{creator/creator_template :: sidebar}"></div>

    <!-- Main Content -->
    <main class="content" id="content">
      <section class="welcome-box">
        <h2>Welcome, <span th:text="${session.loggedInUser}"></span>!</h2>
        <p>Your Tender History & Activity</p>
      </section>
      <section class="info-cards">
        <div class="card">
          <i class="fas fa-file-alt card-icon"></i>
          <h3>Created</h3>
          <p th:text="${create}">12</p>
        </div>
        <div class="card">
          <i class="fas fa-check-circle card-icon"></i>
          <h3>Send to Publisher</h3>
          <p th:text="${send}">9</p>
        </div>
        <div class="card">
          <i class="fas fa-clock card-icon"></i>
          <h3>Published</h3>
          <p th:text="${approved}">3</p>
        </div>
      </section>
      <section id="ts">
        <div class="card">
          <i class="fas fa-clock card-icon"></i>
          <h3>Total Submission</h3>
          <p th:text="${totalSubmissions}">3</p>
        </div>
      </section>
    </main>
  </div>

  <div th:replace="~{creator/creator_template :: footer}"></div>


  <!-- Toggle Script -->

  <script th:src="@{/js/extra.js}"></script>


</body>

</html>
